asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.7.0.1
blockchain==1.4.4
blocktrail-sdk==1.0.6
brewer2mpl==1.4.1
certifi==2018.8.24
chardet==3.0.4
configparser==3.5.0b2
cryptography==2.6.1
cycler==0.10.0
dbus-python==1.2.12
decorator==4.3.0
dill==0.2.8.2
Django==1.11.16
docker==4.1.0
entrypoints==0.3
enum-compat==0.0.2
enum34==1.1.6
et-xmlfile==1.0.1
future==0.17.1
ggplot==0.11.5
httpsig==1.2.0
idna==2.7
ipaddress==1.0.17
jdcal==1.4
keyring==18.0.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==2.2.3
numpy==1.15.2
olefile==0.46
openpyxl==2.5.6
pandas==0.23.4
patsy==0.5.0
Pillow==6.1.0
pycairo==1.17.0
pycrypto==2.6.1
pycryptodome==3.4.7
PyGObject==3.34.0
pyparsing==2.2.2
python-apt==1.9.0+ubuntu1
python-dateutil==2.7.3
pytz==2018.7
pyxdg==0.25
PyYAML==5.1.2
requests==2.19.1
scipy==1.1.0
SecretStorage==2.3.1
six==1.11.0
statsmodels==0.9.0
subprocess32==3.5.2
urllib3==1.23
websocket-client==0.56.0
wget==3.2
